.expand-help {
  margin-bottom: 30px;
}

.expand-help--nomargin {
  margin-bottom: 0;
}

.expand-help__heading {
  font-weight: bold;
}

.expand-help__button {
  @extend .link-style;

  &[aria-expanded="false"]::before {
    content: '\25b6\00a0';
    speak: none;
  }

  &[aria-expanded="true"]::before {
    content: '\25bc\00a0';
    speak: none;
  }
}

.expand-help__content {
  @extend .form-hint;
}

.expand-help__content--nohint {
  color: $black;
}