.impersonation-info {
  @include print-hidden();
}

.impersonation-info__item {
  padding:8px 30px;
  min-height:$gutter;
  color:$black;
  @include contain-floats();
  @include core-16($line-height: $gutter, $line-height-640: $gutter);
  background-color:$light-blue-25;
  border-bottom: 1px solid $white;
}

.impersonation-info__item-message {
  float:left;
}

.impersonation-info__item-message__name {
  @include bold-16($line-height: $gutter, $line-height-640: $gutter);
}

a.impersonation-info__item-closing-link {
  float:right;
  color:$govuk-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    color: $dark-blue;
  }
}
