.report-change__list {
	@include media(desktop) {
		border-top: 1px solid $grey-3;
		padding-top: 25px;
		overflow: hidden;
	}
}

.report-change__listitem {
	box-sizing: border-box;
	border-top: 1px solid $grey-3;
	padding-top: 15px;

	@include media(desktop) {
		border: 0;
		padding: 0 10% 0 0;
		min-height: 100px;
		width: 50%;
		float: left;
		clear: left;
    }
}

.report-change__listitem--right {
	@include media(desktop) {
		float: right;
		clear: right;
	}
}