// Mixin and defaults for making buttons on GOV.UK services.

// For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

// Example usage:

// .button{
//   @include button;
// }
// .button-secondary{
//   @include button($grey-3);
// }
// .button-warning{
//   @include button($red);
// }


@mixin button($colour: $button-colour) {
  // Colour
  background-color: $colour;

  // Size and shape
  position: relative;
  @include inline-block;
  padding: .526315em .789473em .263157em; // 10px 15px 5px
  border: none;
  @include border-radius(0);
  -webkit-appearance: none;

  // Bottom edge effect
  @include box-shadow(0 2px 0 darken($colour, 15%));
  @include ie-lte(8) {
    border-bottom: 2px solid darken($colour, 15%);
  }

  // Text
  font-size: 1em; // inherit from parent
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;

  // Interaction
  cursor: pointer;

  &:visited {
    background-color: $colour;
  }

  &:hover,
  &:focus {
    background-color: darken($colour, 5%);
  }

  &:active {
    top: 2px;
    @include box-shadow(0 0 0 $colour);
  }

  // Disabled button styles
  &.disabled,
  &[disabled="disabled"],
  &[disabled] {
    @include opacity(0.5);
    &:hover {
      cursor: default;
      background-color: $colour;
    }

    &:active {
      top: 0;
      @include box-shadow(0 2px 0 darken($colour, 15%));
      @include ie-lte(8) {
        border-bottom: 2px solid darken($colour, 15%);
      }
    }
  }

  // Set text colour depending on background colour
  @if lightness($colour) < 50% {
    color: $white;

    &:link,
    &:hover,
    &:focus,
    &:visited {
      color: $white;
    }
  } @else {
    color: $text-colour;

    &:link,
    &:hover,
    &:focus,
    &:visited {
      color: $text-colour;
    }
  }

  // making the click target bigger than the button
  // (and fill the space made when the button moves)
  &:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }

  &:active:before {
    top: -10%;
    height: 120%;

    // IE6 ignores the :before psuedo-class but applies the block to :active
    // It therefore needs to be reset
    @include ie(6) {
      top: auto;
      height: 100%;
    }
  }

  // Reset styles applied to external links
  &[rel="external"]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0;
  }

  // Fixes a bug where IE puts a black border around certain elements
  @include ie-lte(8) {
    &[type="submit"],
    &[type="reset"],
    &[type="button"] {
      filter: chroma(color = $black);
    }

    &[type=submit].button {
      filter: none;
    }
  }
}


// Buttons
// ==========================================================================

.button {
  @include button ($button-colour);
  margin: 0 $gutter-half $gutter-half 0;
  padding: em(10) em(15) em(5) em(15);
  vertical-align: top;
}

.button:focus {
  outline: 3px solid $yellow;
}

// Disabled buttons
.button[disabled="disabled"] {
  background: $button-colour;
}

.button[disabled="disabled"]:focus {
  outline: none;
}

// Start now buttons
.button-get-started {
  @include bold-24;
  background-image: url("#{$uc_images_path}/external/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: em(7) em(41) em(4) em(16);

  @include device-pixel-ratio {
    background-image: url("#{$uc_images_path}/external/icon-pointer-2x.png");
    background-size: 30px 19px;
  }

  @include ie(6) {
    background-image: url("#{$uc_images_path}/external/icon-pointer-2x.png");
  }
}

/****************************************
* UC button code below, GDS above
****************************************/

.button-plain {
  @include button(#fff);
}

.button-link {
  padding: em(10) em(15) em(5) em(15);
  display: inline-block;
}

.button-tertiary {
  @include button($grey-3);
}

.button-in-table {
  margin-bottom:em(5);
}

.menu-item {
  background: $highlight-colour;
  border-bottom: 1px solid $border-colour;
  display:block;
  padding:$gutter-half $gutter;
  min-height:em(50);
  margin-bottom:$gutter-half;
  text-decoration:none;
  line-height: 24px;
}
.menu-item:hover {
  background: darken($highlight-colour, 3%);
  border-color: darken($border-colour, 3%);
}

.menu-item:active {
  background: darken($highlight-colour, 5%);
  border-color: darken($border-colour, 5%);
}
.link-style {
    color: $link-colour;
    -webkit-appearance:none;
    background: none;
    border: none;
    @include core-19;
    text-decoration: underline;
    padding: 0;
  &:hover {
    color: $link-hover-colour;
    cursor: pointer;
  }
}

.button-secondary, .agent .button-secondary {
  @include button($grey-3);
  -webkit-box-shadow: 0 2px 0 $black;
  -moz-box-shadow: 0 2px 0 $black;
  box-shadow: 0 2px 0 $black;
  padding: 0.525em 0.75em 0.275em 0.75em;
  overflow: hidden;
}

.agent {
  .button-toggle {
    @include button($govuk-blue);
    -webkit-box-shadow: 0 2px 0 $black;
     -moz-box-shadow: 0 2px 0 $black;
     box-shadow: 0 2px 0 $black;
     padding: 0.525em 0.75em 0.275em 0.75em
  }
  .button-padding {
    margin:$gutter/4 $gutter;
  }
}

.button-navigation {
  @include button(#28a197);
  box-shadow:none;
}

// Disabled buttons
fieldset[disabled] .button {
  zoom:1;
  filter:alpha(opacity=50);
  opacity:0.5;
  cursor:default;
}

fieldset[disabled] .button:hover {
  background-color:#00823b;
}

.input-add-remove__button {
  @extend .button-secondary;
  margin-bottom: 30px;
}
