.js-read-more__container {
	overflow: hidden;
}

.read-more__choose {
	font-size: 0.85em;
	padding: 5px;
	float: right;
}

.read-more__link {
	float: right;
}

.link-style.read-more__link {
	font-size: 1em;
}