@mixin label($color: "", $margin: "") {
  @include bold-16;
  color: #fff;
  display: inline-block;
  padding: 5px 8px 3px;
  font-weight: 700;
  letter-spacing: 0.02em;

  @if $color != "" {
    background: $color;
  }

  @if $margin != "" {
    margin: $margin;
  }
}