{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}


<a href="agent-claimant-hub" class="govuk-back-link">Back</a>

  <div class="govuk-width-container">

<main class="govuk-main-wrapper">
  <div class="case-header">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
      <span class="govuk-caption-l">Claimant details</span>
      QQ423881A
    </h1>
    <p class="govuk-body"><a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61" target="_blank">View claimant in Universal Credit</a></p>
  <strong class="govuk-tag">check eligibility - single</strong>
  <hr>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h2 class="govuk-fieldset__heading">
        Case history
      </h2>
    </legend>

<p class="govuk-body govuk-!-margin-top-150"></p>

<h3 class="govuk-heading-m">Claimant notified</h3>
<span class="govuk-caption-m">29 September 2018</span>
<table class="govuk-table" width="400" border="0">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">Claimant notified of ongoing payment</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
</table>

<h3 class="govuk-heading-m">Payment authorised</h3>
<span class="govuk-caption-m">20 September 2018</span>
<table class="govuk-table" width="400" border="0">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">CPS reference number</th>
      <td class="govuk-table__cell">QQwe3452</td>
    </tr>
</table>

<h3 class="govuk-heading-m">Payment raised</h3>
<span class="govuk-caption-m">15 September 2018</span>
<table class="govuk-table" width="400" border="0">
  <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">Monthly SDP rate</th>
      <td class="govuk-table__cell">£80</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">First Universal Credit claim date</th>
      <td class="govuk-table__cell">1 August 2016</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">Last AP ended</th>
      <td class="govuk-table__cell">31 August 2018</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">Full APs since first Universal Credit claim</th>
      <td class="govuk-table__cell">25</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">Single payment amount</th>
      <td class="govuk-table__cell">£2,000</td>
    </tr>

</table>


<p class="govuk-body govuk-!-margin-top-4"></p>
<h3 class="govuk-heading-m">Eligibility checked</h3>
<span class="govuk-caption-m">6 September 2018</span>
<table class="govuk-table" width="400" border="0">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">Getting Universal Credit payments</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">Couple status changed</th>
      <td class="govuk-table__cell">No</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">In the 'No work related requirements' work group</th>
      <td class="govuk-table__cell">No</td>
    </tr>
</table>


<p class="govuk-body govuk-!-margin-top-4"></p>
<h3 class="govuk-heading-m">Checked Carer Element</h3>
<span class="govuk-caption-m">5 September 2018</span>
<table class="govuk-table" width="400" border="0">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">Claimant has carer who gets Carer Element</th>
      <td class="govuk-table__cell">No</td>
    </tr>
</table>



<p class="govuk-body govuk-!-margin-top-4"></p>
<h3 class="govuk-heading-m">Initial checks completed</h3>
<span class="govuk-caption-m">1 September 2018</span>
<table class="govuk-table" border="0">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Couple status</th>
      <td class="govuk-table__cell">Single</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row" width="80%">SDP</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">PIP (standard living)</th>
      <td class="govuk-table__cell">Yes</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">AFIP</th>
      <td class="govuk-table__cell">No</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">DLA (middle or higher)</th>
      <td class="govuk-table__cell">No</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">AA or CAA paid with IIDB or WP</th>
      <td class="govuk-table__cell">No</td>
    </tr>
  </tbody>
</table>


  </div>

</div>


</div>

      </div>

    </main>
  </div>



{% endblock %}
