{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">
<main class="govuk-main-wrapper">
<div class="case-header">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    QQ423881A
  </h1>
  <p class="govuk-body"><a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61" target="_blank">View claimant in Universal Credit</a></p>
<p class="govuk-body"> <strong class="govuk-tag">Next action required: make a reconsideration - single</strong></p>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  <hr>

<h2 class="govuk-heading-l">Make a reconsideration of the single payment decision</h2>
<p class="govuk-body">Thw claimant has asked for a reconsideration of the single payment amount.</p>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">



<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <a href="../reconsiderations/team-leader-reconsideration"><button type="submit" class="govuk-button">
          Reconsider decision
        </button></a>



        <p class="govuk-body govuk-!-margin-top-2"></p>


    </div>


  </main>
</div>
</div>



<p class="govuk-body govuk-!-margin-top-8"></p>


        </div>

        <div class="govuk-grid-column-one-third">
            <p class="govuk-body govuk-!-margin-top-6"></p>
            <div class="app-related-items">
  <h2 class="govuk-heading-s">
    Actions
  </h2>
  <ul class="govuk-list govuk-body-s">
      <li><a href="" class="govuk-link"><a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61">View QQ423881A in Universal Credit</a></li>
      <li><a href="complete-single-history" class="govuk-link">Task history</a></li>
      <li><a href="payment-history" class="govuk-link">Payments</a></li>
      </ul>

  <p class="govuk-body govuk-!-margin-top-6"></p>

  </div>
</div>

</ul>


        </div>

      </div>

    </main>
  </div>



{% endblock %}
