{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<a href="../dashboards/allocator-dashboard" class="govuk-back-link">Back</a>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">
<div class="case-header">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    Unassigned cases
  </h1>

<br>
<h2 class="govuk-heading-m">1. Choose the type of case you want to assign</h2>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

    </legend>
    <!-- <span id="waste-hint" class="govuk-hint">
      Select all that apply.
    </span> -->
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste-1">
          Check carer element (2 cases)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Check eligibility (2 cases)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Raise payment (2 cases)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Notify claimants (2 cases)
        </label>
      </div>
    </div>
  </fieldset>
</div>


  <br>
  <h2 class="govuk-heading-m">2. How many cases would you like to assign per person?</h2>

  <div class="govuk-form-group">
<label class="govuk-label" for="national-insurance-number">

</label>
<span id="national-insurance-number-hint" class="govuk-hint">

</span>
<input class="govuk-input govuk-input--width-10" id="national-insurance-number" name="national-insurance-number" type="text" aria-describedby="national-insurance-number-hint">
</div>

<br>
<h2 class="govuk-heading-m">3. Choose the which team members you would like to assign cases to</h2>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

    </legend>
    <!-- <span id="waste-hint" class="govuk-hint">
      Select all that apply.
    </span> -->
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste-1">
          Sarah Roberts (0 cases)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Phil Dickinson (0 cases)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Sue Wright (4 cases)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Sally Bower (2 cases)
        </label>
      </div>
    </div>
  </fieldset>


</div>

<a href="../dashboards/allocator-dashboard">
<button type="submit" class="govuk-button">
  Assign cases
</button></a>

    </main>
  </div>



{% endblock %}
