<nav class="uds-navigation" aria-label="main navigation">
    <ul class="uds-navigation__list">
        <li class="uds-navigation__item">
            <a href="/about" class="uds-navigation__link {% if udsNav == 'about' %} uds-navigation__link--active {% endif %}">About</a>
        </li>
        <li class="uds-navigation__item">
            <a href="/styles" class="uds-navigation__link {% if udsNav == 'styles' %} uds-navigation__link--active {% endif %}">Styles</a>
        </li>
        <li class="uds-navigation__item">
            <a href="/components" class="uds-navigation__link {% if udsNav == 'components' %} uds-navigation__link--active {% endif %}">Components</a>
        </li>
        <li class="uds-navigation__item">
            <a href="/patterns" class="uds-navigation__link {% if udsNav == 'patterns' %} uds-navigation__link--active {% endif %}">Patterns</a>
        </li>
        <li class="uds-navigation__item">
            <a href="/guide" class="uds-navigation__link {% if udsNav == 'guide' %} uds-navigation__link--active {% endif %}">Guide</a>
        </li>
        <li class="uds-navigation__item">
            <a href="/" class="uds-navigation__link {% if udsNav == 'prototype' %} uds-navigation__link--active {% endif %}">Prototype</a>
        </li>
    </ul>
</nav>
