{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<a href="authorise-payment-task-list" class="govuk-back-link">Back</a>
{% from "checkboxes/macro.njk" import govukCheckboxes %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="case-header">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
        <span class="govuk-caption-l">Claimant details</span>
        QQ423881A
      </h1>
      <p class="govuk-body"><a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61" target="_blank">View claimant in Universal Credit</a></p>
      <strong class="govuk-tag">authorise payment</strong>



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <hr>

          <h2 class="govuk-heading-l">Authorise a monthly payment of SDP</h2>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">



              <div class="govuk-width-container">

                <main class="govuk-main-wrapper">

                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">

                      <table class="govuk-table">
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col"></th>
                            <th class="govuk-table__header" scope="col"></th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Getting Universal Credit payments</th>
                            <td class="govuk-table__cell">Yes</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Couple status changed</th>
                            <td class="govuk-table__cell">No</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Work group</th>
                            <td class="govuk-table__cell">Intensive work search</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Last AP ended</th>
                            <td class="govuk-table__cell">31 October 2018</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Last AP started</th>
                            <td class="govuk-table__cell">1 October 2018</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Monthly payment amount</th>
                            <td class="govuk-table__cell">£80</td>
                          </tr>
                        </tbody>
                      </table>

                      <p class="govuk-body govuk-!-margin-top-2"></p>
                      {% set reasonsWhyNot %}
                        {{ govukCheckboxes({
                          idPrefix: "reasons-why-not",
                          name: "reasonsWhyNot",
                          fieldset: {
                            legend: {
                              text: "Why did you not authorise this payment?",
                              isPageHeading: true,
                              classes: "govuk-fieldset govuk-fieldset__legend govuk-fieldset__legend--s"
                            }
                          },
                          hint: {
                            text: "Select all that apply."
                          },
                          items: [
                            {
                              value: "uc-wrong",
                              text: "Universal Credit payments decision wrong"
                            },
                            {
                              value: "status-wrong",
                              text: "Couple status wrong"
                            },
                            {
                              value: "work-group-rate-wrong",
                              text: "Work group and rate wrong"
                            }
                          ]
                        }) }}
                        <p class="govuk-body govuk-!-margin-top-2"></p>
                        <hr>
                        {{ govukButton({
                          text: 'Submit decision',
                          href: 'authorise-payment-task-list',
                          classes: 'govuk-button'
                        }) }}
                      {% endset -%}

                      {% set cpsReference %}
                        {{ govukInput({
                          id: "cpsReference",
                          name: "cpsReference",
                          type: "number",
                          classes: "govuk-input govuk-input--width-10",
                          label: {
                            text: "Enter the payment reference number from CPS."
                          }
                        }) }}
                        <p class="govuk-body govuk-!-margin-top-2"></p>
                        <hr>
                        {{ govukButton({
                          text: 'Submit decision',
                          href: 'authorise-payment-task-list',
                          classes: 'govuk-button'
                        }) }}

                      {%endset -%}

                      {{ govukRadios({
                        idPrefix: "auth-payment-conditional",
                        name: "auth-payment",
                        fieldset: {
                          legend: {
                            text: "Did you authorise the payment?",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                          }
                        },
                        hint: {
                          text: "Select one option."
                        },
                        items: [
                          {
                            value: "no",
                            text: "No",
                            conditional: {
                              html: reasonsWhyNot
                            }
                          },
                          {
                            value: "yes",
                            text: "Yes",
                            conditional: {
                              html: cpsReference
                            }
                          }
                        ]
                      }) }}
                      </div>
                    </div>


                  </main>
                </div>
              </div>
              <p class="govuk-body govuk-!-margin-top-8"></p>


            </div>

            <div class="govuk-grid-column-one-third">
              <p class="govuk-body govuk-!-margin-top-6"></p>
              <div class="app-related-items">
                <h2 class="govuk-heading-s">
                  Actions
                </h2>
                <ul class="govuk-list govuk-body-s">
                  <li><a href="authorise-payment-single-history" class="govuk-link">Task history</a></li>
                </ul>
                <ul class="govuk-list govuk-body-s">
                  <li><a href="payment-history-authorise" class="govuk-link">Payment history</a></li>
                </ul>

                <p class="govuk-body govuk-!-margin-top-6"></p>

              </div>
            </div>

          </ul>


        </div>

      </div>

    </main>
  </div>



  {% endblock %}
