{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<a href="../dashboards/agent-dashboard" class="govuk-back-link">Back</a>

<div class="govuk-width-container">
<main class="govuk-main-wrapper">
<div class="case-header">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    Your cases
  </h1>
<strong class="govuk-tag">check carer element</strong>


<hr>

  <table class="govuk-table" border="0">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">Claimant ID</th>
        <th class="govuk-table__header govuk-table__header" scope="col">Next AP ends</th>
        <th class="govuk-table__header govuk-table__header" scope="col">NINO</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell govuk-table__cell"><a href="../QQ423881A/check-carer-element">d6ad9130-7d8e-4094-a16f-1ca3745baa70</a></td>
        <td class="govuk-table__cell govuk-table__cell">31 October 2018</td>
        <td class="govuk-table__cell govuk-table__cell">QQ423881A</td>
      </tr>




    </tbody>
  </table>

    </main>
  </div>



{% endblock %}
