{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<div class="govuk-width-container">

<a href="authorise-payment-single" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper">
<div class="case-header">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    <span class="govuk-caption-l">Claimant details</span>
    QQ423881A
  </h1>
  <p class="govuk-body"><a href="https://agent-training03.ucd.gpn.gov.uk/agent/claimant-actions/d6ad9130-7d8e-4094-a16f-1ca3745baa70/contract/56ead4de-5cf6-47b5-8d08-67ee6cd2dc61" target="_blank">View claimant in Universal Credit</a></p>
<strong class="govuk-tag">AUTHORISE PAYMENT</strong>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  <hr>

  <h2 class="govuk-heading-l">Payment history</h2>

  <table class="govuk-table" border="0">

    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" width="53%">Payment date</th>
        <th class="govuk-table__header govuk-table__header" scope="col" width="25%">Amount</th>
        <th class="govuk-table__header govuk-table__header" scope="col">Type</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">

      <tr class="govuk-table__row">

        <td class="govuk-table__cell govuk-table__cell">20 September 2018</th>
        <td class="govuk-table__cell govuk-table__cell">£2,000</th>
        <td class="govuk-table__cell govuk-table__cell"><span class="badge warning">single</span></td>
      </tr>

    </tbody>
  </table>



    </main>
  </div>



{% endblock %}
