{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}

<table class="govuk-table" border="0">
    <tr class="govuk-table__row">
      <th class="govuk-body" scope="col" align="left" width="82%">Showing 1 – 9 of 45 claimants</th>
      <td scope="col" width="3%">1</th>
      <td scope="col" width="3%"><a href="#" class="govuk-link govuk-link--no-visited-state">2</a></th>
      <td scope="col" width="3%"><a href="#" class="govuk-link govuk-link--no-visited-state">3</a></th>
      <td scope="col" width="3%"><a href="#" class="govuk-link govuk-link--no-visited-state">4</a></th>
      <td scope="col" width="3%"><a href="#" class="govuk-link govuk-link--no-visited-state">5</a></th>
      <td scope="col" width="3%"><a href="#" class="govuk-link govuk-link--no-visited-state">Next</a></th>
    </tr>
</table>


<table class="govuk-table" border="0">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Claimant ID</th>
      <th class="govuk-table__header govuk-table__header" scope="col">Status</th>
      <th class="govuk-table__header govuk-table__header" scope="col"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="check-ce-hub" class="govuk-link govuk-link--no-visited-state">QQ123456</a></th>
      <td class="govuk-table__cell govuk-table__cell">Carers element unconfirmed</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="badge warning">LUMP SUM</span></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="check-eligible-hub" class="govuk-link govuk-link--no-visited-state">PL123456</a></th>
      <td class="govuk-table__cell govuk-table__cell">Eligibility checks required</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="badge warning">LUMP SUM</span></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="raise-payment-hub" class="govuk-link govuk-link--no-visited-state">PL123456</a></th>
      <td class="govuk-table__cell govuk-table__cell">Raise payment required</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="badge warning">LUMP SUM</span></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="authorise-payment-hub" class="govuk-link govuk-link--no-visited-state">SD234567</a></th>
      <td class="govuk-table__cell govuk-table__cell">Payment authorisation required</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="badge warning">LUMP SUM</span></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="notify-claimant-hub" class="govuk-link govuk-link--no-visited-state">SD234567</a></th>
      <td class="govuk-table__cell govuk-table__cell">Notify claimant required</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="badge warning">LUMP SUM</span></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="ongoing-payment-hub" class="govuk-link govuk-link--no-visited-state">PL123456</a></th>
      <td class="govuk-table__cell govuk-table__cell">Eligibility checks required</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="badge warning">ONGOING</span></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="ongoing-raise-payment-hub" class="govuk-link govuk-link--no-visited-state">PL123456</a></th>
      <td class="govuk-table__cell govuk-table__cell">Raise payment required</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="badge warning">ONGOING</span></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="ongoing-authorise-payment-hub" class="govuk-link govuk-link--no-visited-state">PL123456</a></th>
      <td class="govuk-table__cell govuk-table__cell">Authorise payment required</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="badge warning">ONGOING</span></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell govuk-table__cell"><a href="ongoing-payment-first-payment-complete-hub" class="govuk-link govuk-link--no-visited-state">PL123456</a></th>
      <td class="govuk-table__cell govuk-table__cell">Notify claimant required</td>
      <td class="govuk-table__cell govuk-table__cell"><span class="badge warning">ONGOING</span></td>
    </tr>
  </tbody>
</table>



{% endblock %}
