{% extends "layouts/_govuk-layout.html" %}

{% block head %}
  {% include "layouts/includes/styles/styles.html" %}
{% endblock %}

{% block body_classes %}agent{% endblock %}

{% block content %}
  {% include "layouts/partials/_header-agent.html" %}
  {% block agent_header_navigation %}{% endblock %}
  <main id="wrapper" data-reset-cookie-tab="">
    <div id="content">
      <div class="inner-block">
        {% block page_content %}{% endblock %}
      </div>
    </div>
  </main>
{% endblock %}

{% block body_end %}
  {% include "layouts/includes/scripts/agent.html" %}
  {% block page_script %}{% endblock %}
{% endblock %}

